@charset "utf-8";

*{
	margin:0;
}

body{
	font-family:Arial, Verdana, sans-serif;
	margin: 0 auto;
	background:url(../images/fondo.jpg);
	background-size: cover;
	width:1024px;
}

header{
	display:flex; 
	justify-content:center; 
	margin:20px 0;
}

header img{
	width:130px;
	margin-right:130px;
}

h1{
	margin-bottom:25px;
	margin-top:50px;
}

h2{
	margin:20px;
}

nav{background:#DB8584; padding:20px 10px;}
nav ul li{display:inline;}
nav ul li a{text-decoration:none; padding:7px; margin-right:30px; background-color:#76939B; color:#FFF; border-radius:10px; box-shadow:2px 2px 2px #333;}
nav ul li a:hover{box-shadow:0 0 0; background-color:#DB8584;}

section{margin:15px 0;}

p{margin:20px;}

footer{background:#DB8584; padding:20px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; color:#FFF; text-align:center;}

#main{
	border:1px solid #76939B;
	background: #FFF;
	padding:0;
	margin:20px 0;
	border-radius:10px;
	box-shadow:8px 8px 10px #333;
}

.centrado{
	text-align: center; 
	margin:20px; 
	padding:10px; 
	background-color:#F0F3F3;
	box-shadow:2px 2px 4px #333;
}

.imagen{text-align:center;}
.imagen img{width:500px;}

@media (max-width:600px) {
	body{
		width: 450px;
	}

	header{
		display: block;
		text-align: center;
	}

	header img{
		margin: 0;
	}

	.imagen img{
		width: 100%;
	}

	.imagen2 img{
		width: 100%;
	}

	.texto{
		float: none;
		width: 100%;
	}
}